/*基础样式*/
html,body{
	height: 100%;
	width: 100%;
}
.m-list{
	display: flex;
	flex-flow: row nowrap;
}
.m-list li{
	width: 100%;
}
.m-list a{
	display: block;
	height: 100%;
}
[data-dpr="2"] div {
	font-size: 24px;
}
[data-dpr="3"] div {
	font-size: 36px;
}

.m-item img,.m-btn img{
	height: 0.65625rem;
	width: 0.65625rem;
}
.f-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.z_hover:hover{
	background-color: #fff;
	text-decoration: none;
}
.item_stretch{
	display: flex;
	align-items: stretch;
}
.item_stretch_slider li{
	display: flex;
	align-items: stretch;
}
.item_stretch_slider a{
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-grow:1;
}
/*index样式*/

.u-title{
	font-size: 0.59375rem;
}
.g-top{
	background-color: #f0f0f0;
}
.g-top .m-title{
	height: 1.5625rem;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	background-color: #f0f0f0;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 1px 0 #ddd;
}
.m-nav{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	background-color: #f0f0f0;
	align-items: stretch;
	line-height: 1.40625rem;
}
.m-nav .m-item{
	display: flex;
	justify-content: center;
	flex-grow:1;
	font-size: 0.4375rem;
	color: #aaa9af;
}
.g-top .m-nav img{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 0.28125rem;
	width: 0.3125rem;
}
.g-top .m-banner{
	height: 4.765625rem;
	overflow: hidden;
}
.g-top .m-slider{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.g-top .m-list{
	height: 100%;
	width: 400%;
}
.g-top .m-list img{
	display: block;
	height: 100%;
	width: 100%;
}
.g-body .m-tab{
	height: 2.921875rem;
	background-color: #fff;
}
.g-body .m-tab img{
	width: 1.25rem;
	height: 1.25rem;
}
.g-body .m-tab .m-item{
	flex-direction: column;
	align-items: center;
	justify-content:flex-end;
}
.m-store{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: 6.25rem;
}
.m-store-entry{
	width: 50%;
	background-color: #fff;
	height: 48%;
}
.m-store-entry img{
	width: 96%;
	height: 96%;
}