/*基础样式*/
html,body{
	width: 100%;
}
body{
	// overflow: hidden;
}
.m-list{
	display: flex;
	flex-flow: row nowrap;
}
.m-list li{
	width: 100%;
}
.m-list a{
	display: block;
	height: 100%;
}
[data-dpr="2"] div {
	font-size: 24px;
}
[data-dpr="3"] div {
	font-size: 36px;
}
.fontyellow{
	color: #facd7c;
	margin-top: 0.234375rem;
	padding-left: 0.3125rem;
}
.fontred{
	color: #fb9191;
}
.fontpurple{
	color: #a825ce;
}
.m-item img,.m-btn img{
	height: 0.65625rem;
	width: 0.65625rem;
}
.f-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.z_hover:hover{
	background-color: #fff;
	text-decoration: none;
}
.item_stretch{
	display: flex;
	align-items: stretch;
}
.item_stretch_slider li{
	display: flex;
	align-items: stretch;
}
.item_stretch_slider a{
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-grow:1;
}

/*index样式*/
.view{
	position: relative;
	overflow: hidden;
}
.u-title{
	font-size: 0.59375rem;
}
.g-top-fixed{
	overflow: hidden;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.g-top-fixed .m-title{
	width: 100%;
	height: 1.5625rem;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 1px 0 #ddd;
	background-color: #eee;
}
.g-content{
	padding-top: 1.5625rem;
}
.m-nav{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: stretch;
	line-height: 1.40625rem;
}
.m-nav .m-item{
	position: relative;
	display: flex;
	justify-content: center;
	flex-grow:1;
	font-size: 0.4375rem;
	color: #aaa9af;
}
.m-nav img{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 0.28125rem;
	width: 0.3125rem;
}
.m-banner{
	height: 4.765625rem;
	overflow: hidden;
}
.m-slider{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.g-scroll-wrap{
	background-color: #eee;
}
.g-content{
	width: 10rem;
	margin: 0 auto;
}
.g-content .m-list{
	height: 100%;
	width: 400%;
}
.g-content .m-list img{
	display: block;
	height: 100%;
	width: 100%;
}
.m-entry .m-tab{
	margin-top: 0;
	height: 2.921875rem;
	background-color: #fff;
}
.m-entry .m-tab img{
	position: static;
	width: 1.25rem;
	height: 1.25rem;
}
.m-entry .m-tab .m-item{
	flex-direction: column;
	align-items: center;
	justify-content:flex-end;
}
.m-store{
	margin-top: 0.15625rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: 6.25rem;
}
.m-store-entry{
	position: relative;
	width: 50%;
	background-color: #fff;
	height: 48%;
}
.m-entry .m-store .m-container{
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.m-store-entry img{
	width: 96%;
	height: 92%;
}
.m-store .m-wraper{
	height: 1.109375rem;
	border: 1px solid #fff;
	width: 2.8125rem;
}
.m-store .m-wraper .u-content{
	color: #55bb88;
	width: 95%;
	height: 95%;
	background-color: #fff;
}
.m-details .m-main{
	margin-top: 0.018125rem;
	height: 4.78125rem;
	display: flex;
}
.m-details .m-side-left .u-msg{
	padding-left: 0.3125rem;
	line-height: 0.78125rem;
}
.m-side{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 49%;
	justify-content: flex-start;
}
.m-side-left{
	background-color: #fff;
}
.m-side-left .m-elements{
	margin: 0 auto;
	position: relative;
	width: 4.0625rem;
	height: 2.84125rem;
}
.m-side-left .m-element{
	position: absolute;
}
.m-side-left .m-red{
	left: 0;
	top: 0.6875rem;
}
.m-side-left .m-yellow{
	left: 1.265625rem;
	top: 0;
}
.m-side-left .m-blue{
	top: 0.6875rem;
	right: 0;
}
.m-side-left .m-green{
	bottom: 0;
	left: 1.265625rem;
}
.m-side .m-elements img{
	width: 1.546875rem;
	height: 1.34375rem;
}
.u-more{
	color: #ddd;
	position: absolute;
	right: 0;
	bottom: 0.078125rem;
}
.m-side-right{
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.m-side-right .m-tip{
	display: flex;
	justify-content: space-between;
	height: 48%;
	background-color: #fff;
}
.m-side-right .m-msg{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.m-side-right .m-img{
	width: 50%;
}
.m-side-right .m-tip img{
	height: 90%;
}
.m-mainc{
	margin-top: 0.15625rem;
}
.m-mainc .m-ad{
	background-color: #fff;
	height: 2.546875rem;
}
.m-mainc .m-ad img{
	width: 97%;
	height: 90%;
}
.m-hot{
}
.m-hot-news .u-title{
	padding-left: 0.3125rem;
	font-size: 0.46875rem;
	line-height: 0.78125rem;
}
.m-hot-news .m-img{
	background-color: #fff;
	height: 4.578125rem;
}
.m-hot-news .m-img img{
	height: 92%;
	width: 97%;
}
.m-goods .m-good-item{
	display: flex;
	height: 3.125rem;
	background-color: #fff;
	margin-top: 0.15625rem;
}
.m-good-item .m-img-wraper{
	width: 29%;
}
.m-good-item .m-img{
	height: 92%;
	width: 92%;
	border: 1px solid #ddd;
}
.m-good-item img{
	height: 95%;
	width: 95%;
} 
.m-good-item .m-info-wraper{
	margin-left: 0.234375rem;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.m-good-item .m-info-wraper .m-intro{
	display: flex;
	flex:1;
	flex-flow:column;
	justify-content: center;
}
.m-info-wraper .u-intro-1{
	font-size: 0.409375rem;
}
.m-good-item .m-info-wraper .m-content{
	display: flex;
	flex:1;
	width: 100%;
	position: relative;
}
.m-content .u-price{
	color: #f55494;
	font-size: 0.46875rem;
}
.m-content .u-num{
	margin-top: 0.15625rem;
	color: #ccc;
	font-size: 0.359375rem;
}
.m-content .u-original{
	margin: 0.15625rem 0 0 0.15625rem;
	font-size: 0.359375rem;
	color: #ccc;
	text-decoration: line-through;
}
.m-content .m-shopping{
	position: absolute;
	right: 0;
}
.m-content .m-shopping img{
	width: 1.015625rem;
	height: 1.015625rem;
}