@charset "uft-8";
body{
    margin: 0px;
    padding: 0px;
    background-color:lightgray;
  /*background-color: rgba(240,240,240,.1);*/
}
.clearfix:after
{
    border:10px solid lightgray;
    content:".";
    display: block;
    visibility: hidden;
    height:0;
    clear: both;
}

 #b1{
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     width: 100%;
     height:70px ;
     background:#f0f0f0 ;
}
 a{
     text-decoration: none;
    color: white;
     cursor: pointer;
 }
#b1 .b2{
    width: 25%;
    margin-top: 10px;
}
#b1 .b3{
    margin-left: 30%;
    width: 25%;
    margin-top: 15px;
}
#b4{
    background: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    height:70px ;
    text-align: center;
}
#b4 .b5{
    width: 33%; border: 1px solid lightgray;
 padding-top: 25px;
}
#b4 .b6{
    padding-top: 25px;
    width: 33%;
    border: 1px solid lightgray;
}
#b4 .b7{
    padding-top: 25px;
    width: 32.6%;
    border: 1px solid lightgray;
}
.b9
{
    margin-top: -16px;
    width: 100%;
    border-top: 3px solid #c6e9d3;
}
.b9 img{
    width: 100%;
}
#b10{
    margin-left: 5px;
    display: flex;
    padding-top: 10px;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height:150px ;
    font-weight: bolder;
    background: white;
    margin-bottom: 5px;
}
.b11{
    width:25% ;
    text-align: center;
}
.b12{
    width:25% ;
    text-align: center;
}
.b13{
    width:25% ;
    text-align: center;
}
.b14{
    width:25% ;
    text-align: center;
}

.b11 img{
    border: 1px solid #f69f07;
    border-radius: 50px;
    background: #f69f07;

}
.b12 img{
    border: 1px solid #f96262;
    border-radius: 50px;
    background: #f96262;
}
.b13 img{
    border: 1px solid #d363f3;
    border-radius: 50px;
    background: #d363f3;
}
.b14 img{
    border: 1px solid #f55494;
    border-radius: 50px;
    background: #f55494;
}
.b15{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 5px solid white;
    margin-bottom: 5px;
    color:#55bb88;
}
.b16{
    width: 50%;
    /*  float: left;
 border: 5px solid salmon;*/
    display: block;
    position: relative;
    margin-bottom: -1px;
    border:  6px solid white;
}

.b161{
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    background-color: rgba(255,255,255,.7);
    font-size: 26px;
    position: absolute;
    left:0;
    bottom: 0;
    border:  5px solid white;
    padding: 5px;
}
.b1611 {
    position: absolute;
    left: 25%;
    bottom: 40%;
    border: 3px solid white;
    background-color: transparent;
}
.b1611 p{
    background-color:white;
    margin: 5px;
}
.b162{
    margin: 3px;
}
.b17{
    width: 50%;
    /*float: right;*/
    display: block;
    border:  6px solid white;
    position: relative;
}
.b171{
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    background-color: rgba(255,255,255,.7);
    color:#55bb88;
    font-size: 26px;
    position: absolute;
    left:0;
    bottom: 0;
    border:  1px solid white;
    padding: 5px;
}
.b1711 {
    position: absolute;
    left: 25%;
    bottom: 40%;
    border: 3px solid white;
    background-color: transparent;
}
.b1711 p{
    background-color:white;
    margin: 5px;
}
#c1{
   /* display: flex;
    flex-flow: row nowrap;*/
    width:100%;
    height: 30%;
}
#c1 .c2{
    float: left;
    border: 5px solid lightgray;
    background: white;
    width: 50%;
    height: 100%;
    position: relative;
}
#c1 .c2 h4{
  color:#face96;
}
#c1 .c2 a{
    position:absolute;
    left: 63%;
    top: 89%;
    color: lightgray;
    font-size:12px;
}
#c1 .c3{
    width: 48%;
    text-align: right;
   float: right;
    height: 100%;
}
#c1 .c3 img{
    height: 100%;
    float: left;
    border: 10px solid white;
}
.c31{
    height: 50%;
    line-height: 30px;
    background: white;
    margin-bottom: 10px;
}
.c31 span{
    color:#fb9a9a;
}

.c32 span{
    color:#e2c3ee;
}

.c32{
    height: 50%;
    line-height: 28px;
    background: white;
}
#c4 img{
    width: 100%;
    border: 5px solid white;
    margin: 5px 0;
}
#c4 span{
    font-size: 28px;
    color: gray;
}
#c5{
    box-sizing: border-box;
    width:100%;
    border: 4px solid white;
    margin: 3px;
    background: white;
    height: 210px;
    font-size: 18px;
    position: relative;
}
#c5 .c51{
    float: left;
    border: 10px solid white;
}
#c5 .c51 img{
    width: 100%;
    border: 2px solid lightgray;
}
#c5 .c52{
    margin: 5px;
}
#c5 p{
    color: lightgray;
}
#c5 .price{
    padding: 50px;
}
#c5 .img{
    position: absolute;
    left: 80%;
    top: 60%;
}
#c6{
    display: flex;
    width: 100%;
    background: #191717;
    height: 90px;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
#c6 .c7{
    justify-content: center;
    width: 25%;
}
#c6 .c7:first-child{
    width: 25%;
    background: white;
}
#c6 p{
 margin: -1px;
}
@media(min-width: 320px)and(max-width: 640px){

}
@media(max-width: 320px){

}